.git
.github
.vscode
.idea
.fleet
.nova
.zed

node_modules
vendor

tests
.phpunit.cache
.phpunit.result.cache
phpunit.xml

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail

*.log
.env
.env.backup
.env.production

docs
CLAUDE.md
PROJECT-STATUS.md
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
.editorconfig
